
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://img.freepik.com/free-photo/casino-chips-green-table-surface-with-copyspace-ai-generative_123827-23384.jpg?size=626&ext=jpg&ga=GA1.1.282176741.1696436453&semt=ais);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-weight: bold;
    color: white;

}

h1 {
    color: goldenrod;

}
p {
    font-size: 15px;
    color:  goldenrod;
}
#player-el{
    color: darkgoldenrod;
    font-size: 20px;
    
}
#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}






